// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
AppIcon                 ICON                    "PiHex.ico"

BlackIcon               ICON                    "Black.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

AppMenu MENU
BEGIN
    POPUP "文件(&P)"
    BEGIN
        MENUITEM "开始计算(&S)",                    MENU_START
        MENUITEM "停止计算(&T)",                    MENU_STOP
        MENUITEM SEPARATOR
        MENUITEM "开始通讯(&C)",                    MENU_COMMUNICATE
        MENUITEM "停止通讯(P)",                     MENU_COMMSTOP
        MENUITEM SEPARATOR
        MENUITEM "编辑计算机信息(E) ...",              MENU_CPUINFO
        MENUITEM SEPARATOR
        MENUITEM "加入(&J) PiHex",                MENU_JOIN
        MENUITEM "退出(&Q) PiHex",                MENU_QUIT
        MENUITEM SEPARATOR
        MENUITEM "退出程序(&X)",                    MENU_EXIT
    END
    POPUP "选项(&O)"
    BEGIN
        MENUITEM "托盘图标(&T)",                    MENU_TRAY
        MENUITEM "无图标(&N)",                     MENU_NOTRAY
        MENUITEM "自动继续(&A)",                    MENU_AUTOCONT
        MENUITEM "Windows 服务(&W)",              MENU_SERVICE
        MENUITEM SEPARATOR
        MENUITEM "优先级(&P) ...",                 MENU_PRIORITY
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A) PiHex ...",            MENU_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

AboutBox DIALOGEX 87, 58, 125, 65
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 PiHex"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CTEXT           "PiHex Windows \n版本 6.00\n版权所有 1997-1999 作者 Colin Percival\n电子邮件: cperciva@sfu.ca",-1,3,2,119,45,SS_NOPREFIX
    DEFPUSHBUTTON   "确定(&O)",IDOK,47,49,32,14,WS_GROUP
END

PriorityBox DIALOGEX 50, 20, 235, 105
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置优先级"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "请选择PiHex运行的优先级，我们建议选择自动。其它选项可能允许第三方程序获得更多的CPU分配周期。",-1,5,5,180,31,NOT WS_GROUP
    LTEXT           "除非其它程序夺取PiHex的CPU周期，否则提升优先级并无益处。",-1,5,45,220,20,NOT WS_GROUP
    CONTROL         "优先级1",PR_1,"Button",BS_AUTORADIOBUTTON | BS_LEFT,25,70,60,10
    CONTROL         "优先级2",PR_2,"Button",BS_AUTORADIOBUTTON | BS_LEFT,25,80,60,10
    CONTROL         "优先级3",PR_3,"Button",BS_AUTORADIOBUTTON | BS_LEFT,25,90,60,10
    CONTROL         "优先级4(屏保)",PR_4,"Button",BS_AUTORADIOBUTTON | BS_LEFT,115,70,110,10
    CONTROL         "优先级5",PR_5,"Button",BS_AUTORADIOBUTTON | BS_LEFT,115,80,60,10
    CONTROL         "自动",PR_AUTO,"Button",BS_AUTORADIOBUTTON | BS_LEFT,115,90,31,10
    DEFPUSHBUTTON   "确定(&O)",IDOK,190,5,40,15,WS_GROUP
    DEFPUSHBUTTON   "取消(&C)",IDCANCEL,190,25,40,15,WS_GROUP
END

CPUINFOBOX DIALOGEX 100, 60, 340, 225
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PiHex 计算机信息"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "用户名",-1,10,10,45,10,NOT WS_GROUP
    EDITTEXT        UNAME_Edit,10,20,155,12,ES_AUTOHSCROLL
    LTEXT           "电子邮件地址",-1,175,10,90,10,NOT WS_GROUP
    EDITTEXT        EMAIL_Edit,175,20,155,12,ES_AUTOHSCROLL
    GROUPBOX        "CPU 信息",-1,10,40,320,80,BS_LEFT | WS_GROUP
    LTEXT           "CPU 类型",-1,20,55,45,10,NOT WS_GROUP
    CONTROL         "486",CT_I4,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,20,65,55,10
    CONTROL         "Pentium /MMX",CT_I5,"Button",BS_AUTORADIOBUTTON,20,80,70,10
    CONTROL         "Pentium Pro/II/III",CT_I6,"Button",BS_AUTORADIOBUTTON,120,65,80,10
    CONTROL         "Cyrix 6x86/MII",CT_C6,"Button",BS_AUTORADIOBUTTON,120,80,90,10
    CONTROL         "AMD K5",CT_A5,"Button",BS_AUTORADIOBUTTON,220,65,70,10
    CONTROL         "AMD K6/K6-2/K6-3",CT_A6,"Button",BS_AUTORADIOBUTTON,220,80,85,10
    LTEXT           "CPU 速度:",-1,20,100,50,10,NOT WS_GROUP
    EDITTEXT        CSPEED_Edit,70,100,40,12,ES_AUTOHSCROLL
    LTEXT           "CPU 数量:",-1,175,100,65,10,NOT WS_GROUP
    EDITTEXT        CNUM_Edit,240,100,40,12,ES_AUTOHSCROLL
    CONTROL         "网络连接",CM_NET,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,20,130,90,10
    CONTROL         "拨号连接",CM_DIAL,"Button",BS_AUTORADIOBUTTON,20,145,90,10
    CONTROL         "Sneakernet",CM_SNEAK,"Button",BS_AUTORADIOBUTTON,20,160,60,10
    CONTROL         "使用HTTP代理",PROXY_Check,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,130,75,10
    PUSHBUTTON      "配置...",PROXY_Config,250,128,60,14
    CONTROL         "自动通讯",AUTOCOM_Check,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,160,110,10
    LTEXT           "CPU 时/日",-1,20,180,55,10,NOT WS_GROUP
    EDITTEXT        CHOURS_Edit,75,180,40,12,ES_AUTOHSCROLL
    LTEXT           "每周工作日",-1,175,180,70,10,NOT WS_GROUP
    EDITTEXT        CDAYS_Edit,245,180,40,12,ES_AUTOHSCROLL
    PUSHBUTTON      "确定(&O)",IDOK,70,200,40,14
    PUSHBUTTON      "取消(&C)",IDCANCEL,230,200,40,14
END

PROXYINFOBOX DIALOGEX 40, 20, 240, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_CAPTION
CAPTION "HTTP 代理配置"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "代理地址：",-1,5,5,50,10,NOT WS_GROUP
    EDITTEXT        PROXY_Edit,60,5,175,12,ES_AUTOHSCROLL
    LTEXT           "端口：",-1,5,20,50,10,NOT WS_GROUP
    EDITTEXT        PORT_Edit,60,20,175,12,ES_AUTOHSCROLL
    PUSHBUTTON      "确定(&O)",IDOK,60,40,40,14
    PUSHBUTTON      "取消(&C)",IDCANCEL,140,40,40,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 0,6,0,0
 PRODUCTVERSION 0,6,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Colin Percival"
            VALUE "FileDescription", "PiHex"
            VALUE "FileVersion", "Version 6.00"
            VALUE "InternalName", "PiHex"
            VALUE "LegalCopyright", "Copyright ? Colin Percival 1997-1999"
            VALUE "OriginalFilename", "PiHex.exe"
            VALUE "ProductName", "PiHex for Win32"
            VALUE "ProductVersion", "Version 6.00"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    AboutBox, DIALOG
    BEGIN
    END

    PriorityBox, DIALOG
    BEGIN
    END

    CPUINFOBOX, DIALOG
    BEGIN
    END

    PROXYINFOBOX, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

AboutBox AFX_DIALOG_LAYOUT
BEGIN
    0
END

PROXYINFOBOX AFX_DIALOG_LAYOUT
BEGIN
    0
END

CPUINFOBOX AFX_DIALOG_LAYOUT
BEGIN
    0
END

PriorityBox AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

